<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Odoo 10 Sales Commission/Incentive Calculations Based on Sales, Payments Received & Invoicing</h2>
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><i>Easily Manage Complex Commission or Incentive Plans to Enhance Corporate Goals</i></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Globalteckz Sales Commission/Incentive Management module allows businesses to design, track and pay sales commission plans, based on 9 different criteria. The easy-to-use Odoo app specifically crafted for creating and maintaining complex multi-tiered commission plans, including managing and calculating sales compensation based on criteria such as Products, Team based, Payments received and so on . . . Our Sales incentive module helps sales teams get a clear view into their incentives through automated commission reporting, ensuring that sales reps understand their incentives and are aligned with business goals.</i>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;"><a href="http://globalteckz.com/contact-us/enquiry-form">Before buying want to see demo contact us</a></h2>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-body">
                    <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic">Odoo Sales Commission / Incentive Management module offers you with following features: </h2>
                    <ul class="list-unstyled">
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Calculate Sales commission based on : </li>
			<li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i><b> a.</b> Sale Validation</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i><b> b.</b> Invoice Validation</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i><b> c.</b> Payment Validation</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i><b> d.</b> Products Sold</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i><b> e.</b> Product Category</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i><b> f.</b> Sales Team</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Automate payments via approval for incentives. </li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Linked with Accounting</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Manage Journals separately</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Manage payable commission</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Pay Commission</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Paid Commission</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Generate Commission Reports</li>
                        <li style="color: rgb(122, 115, 115);margin-bottom:8px;font-size: 17px;font-weight: 300;font-family: Lato;word-spacing: 1px !important;"><i class="fa fa-check text-primary"></i> Further customizable as per your business requirements.</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">After installation Odoo Sales Commission Module </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>After installation of Sales Commission module you can go into Sales > Click on Settings <br/>
	    In Settings you can see Sale Commission where you can decide when to pay <br/>
	    We have 3 types of When to Pay and 3 types of Calculation based on which helps you to create 9 types of criteria for managing incentives of sales person. </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_2.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">There are 9 Types of Criteria which can be created are detailed as follows  </h2>
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><i>Sales Commission Payments based on: </i></h3>
        <ul style="margin-left:100px;margin-top:50px;">
            <li>1. Sales Validation & Product</li>
            <li>2. Sales Validation & Product Category</li>
            <li>3. Sales Validation & Sales Team</li>
            <li>4. Invoice validation & Product</li>
            <li>5. Invoice validation & Product Category</li>
            <li>6. Invoice validation & Sales Team</li>
            <li>7. Payment validation & Product</li>
            <li>8. Payment validation & Product Category</li>
            <li>9. Payment validation & Sales Team</li>
        </ul>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Sale Validation = When a Sale is made <br/>
	In this case whenever a sale is made the sales person is liable for commission either invoice is created or payments are made.<br/><br/>
	Invoice Validation = When the invoice is Created<br/>
	When invoice is validated then only the salesperson gets the commission<br/><br/>
	Payment Validation = When the payments are done by the client<br/>
	In this case when the payments are made by the customer then only salesperson is liable for the commission the sales commission is calculated based on the payments received can be part payment or full payments.</i>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">ACCOUNTING SET UP FOR MANAGING INCENTIVES</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            To set up the accounting you can go into Accounting > Chart of Accounts > and click on “Create Button”<br/>
	    You can put the code – Name – Type as receivable – and then Save as showed in the below image
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_5.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">JOURNAL SET UP</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">To Create your journals – go into Accounting > Journals > Click on Create button – A form will open where you can put Journal name – Type as “purchase” - short code Default Debit account as the recently created commission (check on the code you have given)
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_9.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;">
            <i>Once the Journal is set up go into Accounting > Configuration > Settings and select Commission journal as Commission After saving you can start using the module based on the 9 criteria as per your business processes.</i>
        </h3>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_12.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="letter-spacing: -1px !important;">Here we have taken an example of Sale person who is selling the products and based on different criteria how the incentives are calculated </h3>
        <h3 class="oe_slogan" style="letter-spacing: -1px !important;"><b>CRITERIA NO 1: </b> </h3>
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;">
            <i>Incentive and commission calculation based on SALES VALIDATION & PRODUCT</i>
        </h3>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_2.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Here the sales person created a quotation and confirm it as a sale (no invoice validation done and no payments are made by the customer on particular product)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_14.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_15.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_16.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on first criteria </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_18.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 2: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on SALES VALIDATION & PRODUCT CATEGORY</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_19.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Setting up of Commission percentage for product Categories</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here in this particular product category of Apple products we have set up commission as 10%</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_22.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale (no invoice validation done and no payments are made by the customer on particular product)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_23.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Second Criteria </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_24.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 3: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on SALES VALIDATION & SALES TEAM</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_25.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">Setting up of Commission percentage for Sales team</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>You can go into Sales > Sales Team > Click on any one of the sales team, there you can set up  incentives to sales manager and Sales person we have put 10% and 5% respectively</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_27.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale (no invoice validation done and no payments are made by the customer on particular product)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_30.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>In other information you can see the sales manager and sales team</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_29.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Third criteria </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_31.png" style="display:block;margin:0px auto;width:100%;">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 4: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on INVOICE VALIDATION & PRODUCT</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_32.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale including the invoicing done (No payments are made by the customer on particular product)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_35.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_36.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_37.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_38.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Forth criteria</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_39.png" style="display:block;margin:0px auto;width:100%;">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 5: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on INVOICE VALIDATION & PRODUCT CATEGORY</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_40.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale including the invoicing done (No payments are made by the customer on particular product)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_42.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Second criteria </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_44.png" style="display:block;margin:0px auto;width:100%;">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 6: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on INVOICE VALIDATION & SALES TEAM</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_45.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale including the invoicing done (No payments are made by the customer on particular product) We have already set up the commission structure in previous example of Criteria number 3</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_47.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_48.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Sixth criteria  </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_49.png" style="display:block;margin:0px auto;width:100%;">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 7: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on PAYMENT VALIDATION & PRODUCT</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_50.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <h2 class="oe_slogan">We have already set up 10 % commission on products previously</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale including the invoicing done</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_52.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Now the payments are made by the customer (Partial Payment 50%)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_53.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Seventh criteria </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_55.png" style="display:block;margin:0px auto;width:100%;">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 8: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on PAYMENT VALIDATION & PRODUCT CATEGORY</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_56.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <h2 class="oe_slogan">We have already set up 10 % commission on product Category previously</h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale including the invoicing done including the payments are made by the customer (Partial Payment 50%)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_59.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 22px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Eight criteria </i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_60.png" style="display:block;margin:0px auto;width:100%;">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h3 class="oe_slogan" style="font-size: 21px;font-weight: 300;opacity: 0.5;margin-top: 12px;"><b>CRITERIA NO 9: </b></h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            <i>Incentive and commission calculation based on PAYMENT VALIDATION & SALES TEAM</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_61.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>We have already set up the respective commission for team as 10% and 5% previously</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_62.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Here the sales person created a quotation and confirm it as a sale including the invoicing done, Including the payments are made by the customer (Partial Payment 60%)</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_64.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_65.png" style="display:block;margin:0px auto;width:100%;">
        </div>

        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 20px;font-weight: 300;line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;"><i>Below is the image of incentive calculated on Ninth criteria to sales team</i>
        </p>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_66.png" style="display:block;margin:0px auto;width:100%;">
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan">SALES COMMISSION PAYMENTS </h2>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_67.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">PAID COMMISSION</h2>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_68.png" style="display:block;margin:0px auto;width:100%;">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important;">REPORTS</h2>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_69.png" style="display:block;margin:0px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_70.png" style="display:block;margin-top:10px auto;width:100%;">
        </div>
        <div class="oe_row" style="margin-bottom:4%;margin-top:4%;">
            <img src="sales_comission_odoo_71.png" style="display:block;margin-top:10px auto;width:100%;">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">1 Year 360 Free Support</h2>
        <h3 class="oe_slogan" style="letter-spacing: -1px !important;font-style: italic;">Contact Us for any problem for Odoo Magento connector</h3>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300; font-style: italic; line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">You will be provided with Free support for 1 year in case any bugs or support while installing and testing the module. <br/>Free updates of modules for 1 year for the client who have purchased our connector.</p>

        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">Get Free Odoo Consultancy </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300; font-style: italic; line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            Our team at Globalteckz is not only bound to provide support for this particular app. Incase of any other issues related to Odoo or Magento you would like to discuss feel free to connect with us via email – info@globalteckz.com. We ensure you proper Odoo Consultancy for the development of the solution.
        </p>
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">About Globalteckz : </h2>
        <p class="oe_mt32" style="color: rgb(122, 115, 115);font-size: 17px;font-weight: 300; font-style: italic; line-height: 175% !important;font-family: Lato;word-spacing: 1px !important;">
            Globalteckz is an official Odoo partner completed more than 50+ Odoo projects across the globe. Quality is key of our coding and we follow strict rules on Odoo Standard coding ensuring every module is bug free. At GlobalTeckz we specialize in providing ERP implementation using the best of industry methodology that ensures successful ERP implementation. Be it manufacturing trading or eCommerce industry our resource thrive to make every project success for our clients.<br/>
            If you feel that this module can be helpful for your business feel free to email us on <a href="mailto:sales@globalteckz.com">sales@globalteckz.com</a> or raise a ticket on support
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row" style="margin-bottom:4%;">
        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">Other apps which are developed by Globalteckz</h2>
        <table  width="100%" style="border:1px solid grey;">
            <tr style="border:1px solid grey;" >
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/9.0/globalteckz_magento/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_magento.png" height="140px" width="240px" alt="Globalteckz" >
                        Odoo 9 / 10 Magento 1.9 connector
                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/amazon_connector/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_amazon.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Amazon connector
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_subscription_management/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_subscription.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Subscription Module
                    </a>
                </td>
            </tr>
            <!--                second-->
            <tr style="border:1px solid green;">
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/10.0/web_debranding_globalteckz/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_debranding.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 Debranding Look and feel
                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_magento_2/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_magento_2.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 / Odoo 9 Magento 2.0 + connector
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/sales_purchase_invoice_discount/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_global_discount.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 Global Discount on Sales,Purchase & Invoice with Tax calculation
                    </a>
                </td>
            </tr>
            <!--                third-->
            <tr style="border:1px solid green;" >
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/9.0/prestashop_connector/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_prestashop.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Prestashop connector

                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_ebay/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_ebay.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo eBay connector
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_hospital_manangement" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_hospital.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo Hospital Management
                    </a>
                </td>
            </tr>
            <!--                fourth-->
            <tr style="border:1px solid green;">
                <td width="33%" >
                    <a href="https://www.odoo.com/apps/modules/10.0/globalteckz_employee_advance_salary_management/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_advance_salary_management.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo employee Advance Salary Management

                    </a>

                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/10.0/pos_bundle/" target="_blank" style="color:#004460;"> <img class="oe_picture oe_screenshot" src="apps_icon/globalteckz_pos_bundle.png" height="140px" width="240px" alt="Globalteckz">
                        Odoo 10 POS Bundle/Combo product
                    </a>
                </td>
                <td width="33%">
                    <a href="https://www.odoo.com/apps/modules/browse?author=Globalteckz" target="_blank" style="color:#004460;">
                        <center><h2 style="margin-top:55px;">More Apps ..</h2></center>
                    </a>
                </td>
            </tr>

        </table>

        <h2 class="oe_slogan" style="letter-spacing: -1px !important; font-style: italic;">We offer Magento and Odoo customizations too incase needed</h2>
    </div>
</section>
<section class="container">
    <div class="oe_dark oe_quote" style="height:410px">
        <div class="col-md-12">
            <div class="col-md-6">
                <img class="oe_photo" src="apps_icon/logo1.png" alt="Globalteckz" />
                <h3 class="oe_slogan">Official Odoo Partner</h3>
                <h2 class="oe_slogan">Odoo Support / Customisation Service</h2>
                <p>You can contact us for further Odoo Support, Odoo customisation, Odoo implementation, Odoo 3rd Party integration with any software, Odoo training, You can communicate with any mode to contact us.</p>
            </div>
            <div class="col-md-6 text-left">
                <div class="oe_author">You can connect us</div>
                <br/>
                <div class="oe_job"><i class="fa fa-envelope"></i> <span><a href="mailto:sales@globalteckz.com;" target="_blank">sales@globalteckz.com</a></span></div>
                <div class="oe_job"><i class="fa fa-mobile fa-2x"></i> <span><a href="tel:+91 9833344333" target="_blank">+91 98333 44 333</a></span></div>
                <div class="oe_job"><i class="fa fa-skype"></i> <span><a href="skype:abraar.patel" target="_blank">abraar.patel | kadriazhar</a></span></div>
                <div class="oe_job"><i class="fa fa-facebook-square"></i> <span><a href="https://www.facebook.com/globalteckz/" target="_blank">Globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-google-plus-square"></i> <span><a href="https://plus.google.com/+Globalteckz" target="_blank">+Globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-twitter-square"></i> <span><a href="https://twitter.com/globalteckz" target="_blank">@globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-youtube-square fa-1x"></i> <span><a href="https://www.youtube.com/channel/UCBHWs6l65Rd1DY9AUBuv5Dg" target="_blank">Globalteckz</a></span></div>
                <div class="oe_job"><i class="fa fa-globe"></i> <span><a href="https://www.globalteckz.com/" target="_blank">www.globalteckz.com</a></span></div>


            </div>

        </div>
    </div>
</section>
<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><a href="http://support-portal.globalteckz.com/"  style= "color: #000000 !important;"> Get Help & Support</a></h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn-success mt8" title="Get Help !" style= "background-color:#9B0F4E; color: #FFFFFF !important;" href="http://support-portal.globalteckz.com/"> Help </a>
            <a class="btn btn-success mt8" title="Get Support!" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://support-portal.globalteckz.com/"> Support </a>
            <a class="btn btn-success mt8"  title="Request New Features now !" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://globalteckz.com/contact-us/enquiry-form"> Request New Features </a>
        </div>
    </div>
</section>
