<div class="oe_styling_v8" style="padding-top: 0px;">
    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <h2 class="oe_slogan" style="color: #005581;">
                    Odoo Website Authorize Payment Gateway
                </h2>
                <h3 class="oe_slogan" style="font-size: 24px; color: #005581;">
                    Authorize Payment Gateway is available in ODOO to making a payment processing easier
                </h3>
            </div>
            <div class="oe_span12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581; font-size: 30px;">
                            Why ODOO Website Authorize Payment Gateway?
                        </h2>
                        <p class="oe_mt32" style="font-size: 18px;">
                            Also called Authorize Checkout. That use <i>Authorize Advanced Integration Method (AIM)</i>.<br />
                            Advanced Integration Method(AIM) is <i>Authorize.Net's</i> recommended connection method and offers the most secure and flexible integration for all types of transactions, including mobile, websites and other business applications.
                        </p>
                    </div>
                </div>
                <br />
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581;">
                            Customers/Guest Users Features
                        </h2>
                        <ul class="list-unstyled" style="font-size: 18px;">
                            <li style="margin-bottom: 7px;">
                                <i class="fa fa-angle-double-right" style="color: #005581;"></i> 
                                Accept/Pay payment from anywhere any time.
                            </li>
                            <li style="margin-bottom: 7px;">
                                <i class="fa fa-angle-double-right" style="color: #005581;"></i> 
                                Customers/Guest Users no longer redirect to any other site for enter payment details. All Payment procedures will be done on your site.
                            </li>
                            <li style="margin-bottom: 7px;">
                                <i class="fa fa-angle-double-right" style="color: #005581;"></i> 
                                It'll supports Visa, Mastercard, American Express, JCB, Discover card.
                            </li>
                            <li style="margin-bottom: 7px;">
                                <i class="fa fa-angle-double-right" style="color: #005581;"></i> 
                                In order of payment information, the customers/guest users web browser encrypts the payment information to be sent between the browser and the merchant webserver. In between, this may be done via <i>SSL</i> encryption. So manage better security management at the time of card verification.
                            </li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581;">
                            Admin Features
                        </h2>
                        <ul class="list-unstyled" style="font-size: 18px;">
                            <li style="margin-bottom: 7px;">
                                <i class="fa fa-angle-double-right" style="color: #005581;"></i> 
                                Administration can modify payment status.
                            </li>
                            <li style="margin-bottom: 7px;">
                                <i class="fa fa-angle-double-right" style="color: #005581;"></i>
                                Administration can any time switch over from <i>Test environment</i> to <i>Production environment</i> and vise versa.
                            </li>
                            <li style="margin-bottom: 7px;">
                                <i class="fa fa-angle-double-right" style="color: #005581;"></i>
                                Administration can easily enable/disable <i>Authorize Checkout</i> payment method.
                            </li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581;">
                            Installation &amp; Configuration
                        </h2>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            1.) Install Module
                        </h2>
                        <p class="oe_mt16" style="font-size: 18px;">
                            Install the Authorize Payment Acquirer module.
                        </p>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            2.) Obtain API Login ID and Transaction Key
                        </h2>
                        <p class="oe_mt0" style="font-size: 18px;">
                            You have to create an account in <i>authorize.net</i> as a sandbox user. Later you'll update Test mode to the Live mode.<br />
                            After created an account, navigate to Account &raquo; Settings &raquo; API Login ID and Transaction Key. Obtain your API Login ID and Transaction Key.
                        </p>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_0.png" alt="Authorize.net API Login ID" />
                        </p>
                        <p class="oe_mt16" style="font-size: 18px;">
                            Next to generate your transaction key.
                        </p>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_1.png" alt="Authorize.net Transaction Key" />
                        </p>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            3.) Enter your API Login ID and Transaction Key
                        </h2>
                        <p class="oe_mt0" style="font-size: 18px;">
                            In Odoo navigate to Invoicing or Account menu &raquo; Payment Acquirers &raquo; Select Authorize Checkout &raquo; Click on <i>Configure</i> button.
                        </p>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_9.png" alt="Select Authorize Payment Acquirer" />
                        </p>
                        <br />
                        <p class="oe_mt0" style="font-size: 18px;">
                            Enter your <i>API Login ID</i> and <i>Transaction Key</i> as well as set your environment preferences.</p>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_2.png" alt="Enter API Login ID and Transaction Key in Odoo" />
                        </p>
                    </div>
                </div>
                <br />
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581;">
                            E-Commerce Payment Workflow
                        </h2>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            1.) Select <i>Authorize Checkout</i> Payment Method
                        </h2>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_3.png" alt="Select Authorize Checkout" />
                        </p>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            2.) Enter <i>Card</i> Details
                        </h2>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_4.png" alt="Enter Your Card Details" />
                        </p>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If Invalid Card Details <i>Authorize</i> Response Mesaage
                        </h2>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_8.png" alt="Card Details Invalid Response" />
                        </p>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            3.) Order Confirmation
                        </h2>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_5.png" alt="Order Confirmation" />
                        </p>
                    </div>
                </div>
                <br />
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581;">
                            ODOO Admin Panel (Payment Transaction)
                        </h2>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            1.) Payment transaction
                        </h2>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_6.png" alt="Payment Transaction List View" />
                        </p>
                        <h2 class="oe_slogan" style="color: #005581; text-align: left; font-size: 34px; margin-bottom: 10px;">
                            2.) Transaction Details
                        </h2>
                        <p>
                            <img class="oe_picture oe_screenshot" src="1_7.png" alt="Transaction Details" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581;">
                            Help &amp; Support
                        </h2>
                        <h3 class="oe_slogan" style="font-size: 24px; color: #005581;">
                            Any type of issue related to this module, any doubt, any queries contact us.
                        </h3>
                        <div class="text-center">
                            <a style="color: rgb(255, 255, 255); border: 1px solid rgb(232, 76, 61); position: relative; overflow: hidden; background-color: rgb(232, 76, 61);" class="btn btn-success btn-lg" rel="nofollow" href="mailto:forfens.com@gmail.com" target="_blank">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;forfens.com@gmail.com
                            </a>
                        </div>
                        <h3 class="oe_slogan" style="font-size: 24px; color: #005581;">
                            Odoo Technical Help, Support, Request any features give us the opportunity to service you better and improve our solution on a continuous basis.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
