<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo version 9 Magento connector</h2>
            <h3 class="oe_slogan">Connect your Magento website with Odoo 9 ERP software and synchronize all the data.</h3>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="Banner.png">
        </div>

        <div class="oe_span6">
            <p class="oe_mt32">
Magento is one of the leading Open source eCommerce CMS and widely used by many eCommerce merchants worldwide from small to Big companies, With the growth of Magento website implementation globalteckz brings you out with Odoo Magento connector where you can synchronize all the data from Magento website into Odoo and no need to go in Magento backend to handle things which can be managed from Odoo. With Odoo Magento connector by Globalteckz you get advantage of a full fledged Open source ERP software for eCommerce trading Business
            </p>
        </div>
    </div>
</section>
<section class="oe_container oe_dark lead">
<h2></h2><p class="text-primary text-center"><b>Odoo 9 Magento Connector</b></p>
<div class="oe_row">
    <div class="oe_span12">
        <div class="panel panel-primary" id="wkid0">
   
            <div class="panel-body">
            <div class="alert alert-info"><i class="fa fa-arrow-circle-o-right"></i> <b> This module provides you with following features </b></div>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check text-primary"></i> Import Attribute Sets from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Product Attributes from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Product Categories from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Product from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Product Images from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Customer from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Customer group from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Orders from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Import Inventory from Magento to Odoo.</li>
                    <li><i class="fa fa-check text-primary"></i> Export Inventory from Odoo to Magento.</li>
                    <li><i class="fa fa-check text-primary"></i> Export Order Status from Odoo to Magento.</li>
                    <li><i class="fa fa-check text-primary"></i> Export New product from Odoo to Magento.</li>
                    <li><i class="fa fa-check text-primary"></i> Update Existing Product from Odoo to Magento.</li>

                </ul>
            <div class="alert alert-info"><i class="fa fa-arrow-circle-o-right"></i> <b>What's More!! </b></div>
            <ul class="list-unstyled ">
                <li> <i class="fa fa-hand-o-right text-primary"></i> Advance configuration is provided for Auto Invoice and Auto Inventory Creation.</li>
                <li> <i class="fa fa-hand-o-right text-primary"></i> Initial skip Complete Orders than import only Complete Orders</li>
                <li> <i class="fa fa-hand-o-right text-primary"></i> Importing only simple products</li>
                <li> <i class="fa fa-hand-o-right text-primary"></i> Fully Customisable.</li>
                <li> <i class="fa fa-hand-o-right text-primary"></i> Manage Multiple Magento Stores .</li>
                <li> <i class="fa fa-hand-o-right text-primary"></i> Contact Us for Magento 2.0 with Odoo 9 connector.</li>
            </ul>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Second block -->
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Creating Web Service User & Roles in Magento</h2>
        <p class="oe_mt32">After installation of this Odoo Magento connector module you need to create web service user and roles so now lets create the web roles from Magento Backend so that using API you can connect with Odoo. Go to system > Web Services > Soap/XMLRPC Roles then create an New Role and select "all" in role resources</p>
        <div class="oe_row_img oe_centered">
            <img class="oe_picture oe_screenshot" src="magento_web_roles.png">
        </div>
        <p class="oe_mt32">Once web role is created then create web service user by going to system > Web Services > Soap/XMLRPC Users then create a new user and assign the above create role in the user. After role is created remember the Username and API Key which we need to use in Odoo while configuring the instance.</p>
        <div class="oe_row_img oe_centered">
            <img class="oe_picture oe_screenshot" src="magento_web_services.png">
        </div>
    </div>
</section>
<!--Third block -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Testing Magento-Odoo Connection</h2>
        <p class="oe_mt32">
            Go to magento menu in Odoo and use configuration sub menu and select magento instance  and click on create.
            Insert the required fields as described below Name give any name to identify the instance, Location Insert the Magento Url e.g www.test.com/ or www.test.com/index.php, User Name Fill the username i.e Web service user and Password enter the password i.e API key which we used to create the user. Rest of the fields select as per your business requirement
            Testing the connection of the instance which we configured. There is a button on the header of part of the instance, click on that and wait for the result, If successful move ahead and if not check credentials and try again.  
        </p>
        <img class="oe_picture oe_screenshot" src="magento_instance.png">    
    </div>
</section>
<!--Fourth block -->
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Creating Magento Store In Odoo</h2>
        <p class="oe_mt32">Once the connection is successful there will be Create Store button visible, click on that to create stores in Odoo. To see the store created in Odoo go to settings > users > admin and enable the multi store sync group and there will be a menu below magento Instance as Magento Store, you can view all the stores there.</p>
        <img class="oe_picture oe_screenshot" src="magento_store.png">
    </div>
</section>
<!-- Fifth block -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Importing Features with Odoo Magento connector</h2>
        <p class="oe_mt32">
            For initial Setup you need to click on below buttons as per the numbers and explanation given below.
        </p>
        <img class="oe_picture oe_screenshot"  src="magento_initial_sync.png">
        <h3 class="oe_slogan">1.Importing all your Product Attribute Set from Magento into Odoo</h3>
        <p class="oe_mt32">
            With one single click of button you can import all your attribute set from magento into Odoo. Below on the magento instance menu click on button Import attribute set and all data will be imported to Odoo and can be visible under sub-menu Attributes and Sets in attribute sets..
        </p>
        <img class="oe_picture oe_screenshot" src="attribute_set.png">
        <h3 class="oe_slogan">2.Importing  Categories</h3>
        <p class="oe_mt32">Once you are completed with Importing Attirbutes set the next part is importing categories, which is a small button right below Import product attributes, just click on it and all your product categories will be imported to Odoo</p>
        <img class="oe_picture oe_screenshot" src="imported_product_categories.png">
        <h3 class="oe_slogan">3.Import Product Attributes</h3>
        <p class="oe_mt32">After completing Importing Categories you can import all your product attributes with one single button, "Import Attributes" all the product attributes from magento will be imported in Odoo</p>
        <img class="oe_picture oe_screenshot" src="magento_product_attributes.png">
        <h3 class="oe_slogan">4.Import Products</h3>
        <p class="oe_mt32">After completing all the three processes i.e attribute sets, categories, product attributes next is to import the products from magento, click on the very next button after product attributes which will import products. All the products will be imported in Odoo</p>
        <img class="oe_picture oe_screenshot" src="magento_products.png">
        <h3 class="oe_slogan">5.Import Product Images</h3>
        <p class="oe_mt32">Once products are imported you can import product images the very next button after import products button.</p>
    </div>
</section>
<!-- Sixth block -->
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Importing of Customers and Orders from your Magento to Odoo </h2>
        <h3 class="oe_slogan">Import Customer and Customer Group</h3>
        <p class="oe_mt32">With Globalteckz Odoo Magento connector you can import all your Magento Customers and Magento Orders in Odoo ERP software. The first thing to initiate after you import all your images is to import the customer group from magento. Go to Magento Shop Menu below instance menu and open the shop record and if you have multiple shops repeat the process for every shop. There is a tab of Manage customers, click on Import Customer group and then on Import Customer all the data will be sync in Odoo.</p>
        <img class="oe_picture oe_screenshot" src="magento_customer.png">
        <h3 class="oe_slogan">Import Orders</h3>
        <p class="oe_slogan">On the same form of Manage Customer there is tab Manage Orders. Edit the form menu and you will find a date just next to the import orders button. Select the date from which you want to import the Order and save the form. After selecting date click on Import Orders button and all the orders from that will be imported. This helps you incase you just want to import the orders from a particular date.</p>
        <img class="oe_picture oe_screenshot" src="Magento_Order_Date.png">
        <p class="oe_mt32">Below you can see some orders we have imported from Magento</p>
        <img class="oe_picture oe_screenshot" src="Magento_Orders.png">
        <h3 class="oe_slogan">Import Stock/Inventory</h3>
        <p class="oe_mt32">With Odoo Magento connector by globalteckz it is very simple to import all your magento stock into Odoo. As you see in the connector Just next to Manage Customer there is another tab Manage Inventory, in that there is button Import Stock just click on that and the products inventory having equal to and greater than zero will be imported.</p>
        <img class="oe_picture oe_screenshot" src="magento_inventory_import.png">
        <p class="oe_mt32">Below you can see inventory imported from Magento which Qty on Hand in Odoo</p>
        <img class="oe_picture oe_screenshot" src="magento_inventory.png">
    </div>
</section>
<!-- Seventh block -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Exporting Features from Odoo To Magento</h2>
        <h3 class="oe_slogan">Export Stock </h3>
        <p class="oe_mt32">As this Odoo Magento connector is a bi - directional connector where you can import as well as export every detail from your Odoo to Magento. Exporting stock from Odoo to magento is also very easy in this Magento-Odoo Connector. To Export the stock from Odoo to Magento go to Magento > Configuration > magento > magento Shop open the record and find Manage Inventory tab. In that you will find a button Export Stock, click on that all product stock will export to Magento.</p>
        <img class="oe_picture oe_screenshot" src="magento_inventory_export.png">
        <h3 class="oe_slogan">1.Export Order Status</h3>
        <img class="oe_picture oe_screenshot" src="magento_order_status.png">
        <p class="oe_slogan">You can also export stock order status back to Magento  There is tab in magento shop Manage Order, click on the button export order status and you are done.</p>
        
        <h3 class="oe_slogan">1,2 & 3.Export Product and Images </h3>
        <img class="oe_picture oe_screenshot" src="magento_export_features.png">
        <p class="oe_mt32">There two types of product one which are available on Magento and as well as Odoo, other type of product which only there in Odoo. To export product that are available on both the medium go to Export data to Magento tab and the very first button is export products. By clicking this button products which are available in magento will be updated if any changes made in Odoo.To export the product only there in Odoo, click on the button Export New Product. With the help of this button the products which are not available in Magento and there Odoo will be exported and can be visible in Magento.The last thing is to Export Images. If we add new products or change images of existing product it is possible to export the images on the click of Export Images button in Export data to magento tab and the effect will be visible in Magento.</p>
        <h3 class="oe_slogan">4.Export Link Products </h3>
        <p class="oe_mt32">In the same way as we exported products to magento, Link products such as cross-sell products,related products are also exported to magento on the click on the export link products. The link products will be visible in the respected products page in magento</p>
    </div>
</section>
<!-- Eight block -->
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Magento Configuration Settings</h2>
        <h3 class="oe_slogan">Import Complete Orders</h3>
        <p class="oe_mt32">When you select this option and apply then while Importing Orders as shown above in the document only orders having complete status on Magento order will be imported. This option is very helpful when you want to import the old orders while configuring magento in Odoo.</p>
        <img class="oe_picture oe_screenshot" src="magento_config_import_complete_orders.png">
        <h3 class="oe_slogan">Auto Invoice Creation</h3>
        <p class="oe_slogan">The first option is Auto Invoice Create this will help to create invoice of the order while importing from magento irrespective of the order status.The second option is to Open state this will help you create the invoice in open state the next stage after draft state.The last option will help you to omplete the Invoice in done state i.e the invoice will be validated and paid automatically in Odoo while importing Orders from Magento </p>
        <img class="oe_picture oe_screenshot" src="magento_config_auto_create_invoice.png">
        <h3 class="oe_slogan">Auto Delivery Creation</h3>
        <p class="oe_mt32">The first option is Auto Delivery Create this will help to create delivery of the order while importing from magento irrespective of the order status.The second option is to Validate Delivery Order this will help you to validate the delivery order.The last option will help you to complete the Delivery order automatically while importing orders</p>
        <img class="oe_picture oe_screenshot" src="magento_auto_delivery.png">
        <h3 class="oe_slogan">Manage Products</h3>
        <p class="oe_slogan">When you want to import only simple products, select this option and only simple product will be imported.</p>
        <img class="oe_picture oe_screenshot" src="magento_config_manage_products.png">
        <h3 class="oe_slogan">Automation</h3>
        <p class="oe_slogan">Automation will create an easy of work when you are familiar with Odoo and it will help you to make your work much easier. You only need to set the Interval Time and Inverval Unit and apply with this that functionality will automatically run within the set Interval Time. The Automation is available for Importing Orders, Exporting Stock, Importing Products, Export Order Status, Importing Customer. Above explained Configuration will give you the flexibity to handle you operations as per your mode of work and will make your work much easier and accurate </p>
        <img class="oe_picture oe_screenshot" src="magento_config_automation.png">
    </div>
</section>
<!-- Ninth block -->

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
	    <h3 class="oe_slogan">You will get 15 Days free support incase any bugs or support while installing and testing the module.</h3>
            <p class="oe_slogan">
		At GlobalTeckz we offer you with end to end solution for Odoo services with best consultation on the workflows and integration part. We have developed numerous 3rd party eCommerce connectors including Amazon, eBay, Jet.com and so on . . . And also You're not allowed to distribute this module after purchase!
Incase of any question regarding Odoo Magento connector feel free to email us on <a href="mailto:sales@globalteckz.com">sales@globalteckz.com</a> or raise a ticket on support 
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><a href="http://support-portal.globalteckz.com/"  style= "color: #000000 !important;"> Get Help & Support</a></h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced text-center"> 
    <a class="btn btn-success mt8" title="Get Help !" style= "background-color:#9B0F4E; color: #FFFFFF !important;" href="http://support-portal.globalteckz.com/"> Help </a>
     <a class="btn btn-success mt8" title="Get Support!" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://support-portal.globalteckz.com/"> Support </a> 
    <a class="btn btn-success mt8"  title="Request New Features now !" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://globalteckz.com/contact-us/enquiry-form"> Request New Features </a>
        </div>
    </div>
</section>
