.wk_odoo_shipping_loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;	
	background: url(../img/odoo-shipping-api.GIF) center no-repeat rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px white;
}

.delivery_image img{
	height: 40px;
	width: 60px;
}
