<section class="oe_container oe_dark lead">
    <section class="oe_container oe_dark lead">   
        <h2><font><p class="text-primary text-center"><b>ODOO-FedEx Shipping Integration</b><br/>
                    ODOO E-Commerce Extension Providing In Depth Integration With FedEx </p></font></h2> 
        <div class="oe_row">    
            <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading">
                <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward "></i><b>This Extension Allows</b></h3>
                </div>
                
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> 
                        Real-time Shipping Rate Calculation [From BackEnd as well Website Also].</li> 
                        <li><i class="fa fa-check text-primary"></i> 
                        Automatic  Packaging Options [Optimal Solution].</li> 
                        <li><i class="fa fa-check text-primary"></i> 
                        Manual  Packaging Options .</li> 
                        <li><i class="fa fa-check text-primary"></i> 
                        Shipping Label Generation.</li>
                        <li><i class="fa fa-check text-primary"></i>
                         Multi Package Shipment.</li>
                        <li><i class="fa fa-check text-primary"></i> 
                        Shipping Label Cancellation.</li>
                        <li><i class="fa fa-check text-primary"></i>
                         Live Shipment Tracking Number .</li>     
                        <li><i class="fa fa-check text-primary"></i>
                        Compatible With All Version Of ODOO.</li>
                  
                        <li><span class="text-primary"><b>Full Admin Control</b></span>
                             <ul class="list-unstyled">
                                <li class="text-primary"> <i class="fa fa-hand-o-right"></i> Admin can 
                                            <b>Add Extra Service Charges</b> on actual shipping price .</li>
                                <li class="text-primary"> <i class="fa fa-hand-o-right "></i> Admin can
                                            <b>Define/Update New Service </b>  as per their preferences .</li>
                                <li class="text-primary"> <i class="fa fa-hand-o-right"></i> Admin can 
                                            <b>Define/Update Packaging Type and Drop Off Type</b> for  FedEx shipping.</li>
                                <li class="text-primary"> <i class="fa fa-hand-o-right"></i> Admin can 
                                            <b>Define/Update Allowed  Shipping Methods and Unit of Weight</b> for FedEx shipping.</li> 
                            </ul>      
                        </li>                           
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12">
                <div class="panel panel-success" id="wkid2">
                    <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-wrench "></i> <b>Setup & Configure</b> </h3>
                    </div> 
                    <div class="panel-body">
                        <!-- ############################################################################################## -->
                        <div class="alert alert-success" 
                        style="padding:8px;font-weight: 300; font-size: 20px;">
                        <i class="fa fa-cog"></i> <b>Installation </b></div>
                           <p><i>This module required the extension of 
                           BackBone Shipping Module(It' Free).</i></p>       
                       <p>  
                           <a href="backbone.png">
                           <img class="oe_picture oe_screenshot" 
                                src="backbone.png" 
                                alt="Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration|BackBone">
                            </a>
                        <p>
                       <p><i>After the successful installation of 
                       the BackBone Shipping Module module you will have to 
                        click the  FedEx Shipping  Module Link  under 
                        Setting ->General Settings ->Shipping Service.</i></p>
                       <p><img class="oe_picture oe_screenshot" 
                                src="module-config.png" 
                                alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration"><p>
                   
                       <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-arrow-circle-o-right"></i> <b>FedEx Credentials</b></div>
                        <p><i>After the installation the a POP-UP Wizard will Open.</i>   </p>
                        <p>
                        <a href="fedex-config.png">
                        <img class="oe_picture oe_screenshot"
                         src="fedex-config.png" 
                            alt="Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration-fedex-credentails">
                        </a>
                        <p>      
                        <h4><p><b>Fill these FedEx Credentials  </b>   </p>        
                           <ul>        
                                <li>Key.</li>
                                <li>Password.</li>
                                <li>Account Number.</li>
                                <li>Meter Number.</li>
                                <li>Integration Id.</li> 
                            </ul></h4>
                        <p>Environment - Select Testing  Shipping while testing the module flow.
                        Turn into Production, when you go live and ready to create real billable labels.</p>
                        <!-- ############################################################################################## -->
                        <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-cog"></i> <b>Shipping Configuration .</b></div>
                         <p><a href="fedex-delivery-form.png">
                         <img class="oe_picture oe_screenshot"
                          src="fedex-delivery-form.png" 
                         alt="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration-example-fedex-api-configuration"></a>
                         <p>
                        <p><i>We have set up the most frequently used values <br/><b>But, please, look all of them and change according to your needs</b>.</i></p> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12">
                <div class="panel panel-info" id="wkid3">
                    <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-pencil-square-o "/></i><b> Work-flow  </b></h3>
                    </div>                
                    <div class="panel-body">
                        <div class="alert alert-info"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-desktop"></i>
                                    <b> FedEx Price Calculator [On BackEnd By Admin]</b></div>
                   <p><i>After configuring the FedEx Shipping 
                   Module  module you will be able to see the FedEx Delivery in  
                    Delivery Method List Of Sale Order Option [Sale --&gt; Sale Order->Create].</i></p>  
                     <p><a href="fedex-order-price.png">
                            <img class="oe_picture oe_screenshot" src="fedex-order-price.png" 
                                alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration-sale-order-line-fedex-delevery"></a></p>
                   <h4><p><b>For Using  Automatic  Packaging Options :</b>   </p>        
                       <ul>        
                            <li>Select A customer .</li>
                            <li>Add product in sale oder line .  </li>
                            <li>Select <b> FedEx Delivery</b> as  delivery method for this sale order .</li>
                            <li>Click on <b>Set Price</b> it will list you the delivery charges.</li>
                        </ul>
                        <a href="fedex-order-manual.png">
                            <img class="oe_picture oe_screenshot" src="fedex-order-manual.png" 
                                alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-
                                Integration-Automatic-Odoo-Packaging-Options"></a>
                        <p><b>NOTE:</b> In the Packaging tab you can view the number package sent while getting the rate</p>
                    </h4>
                    <h4><p><b>For Using  Manual  Packaging Options </b>   </p>        
                       <ul>        
                            
                            <li>Select A customer .</li>
                            <li>Select <b> FedEx Delivery</b> as  delivery method for this sale order .</li>
                            <li>Open Packaging tab and select Create Package <b> Manual </b>.</li>
                            <li>Add package in sale oder .</li>
                            <li>Click on <b>Set Price</b> it  will list you the delivery charges.</li>
                        </ul>
                        <a href="fedex-order-manual-updated.png">
                            <img class="oe_picture oe_screenshot" src="fedex-order-manual-updated.png" 
                                alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-
                                Integration-Manual-Packaging-Options"></a>
                    </h4>
                    <!-- ############### -->
                        <div class="alert alert-info" 
                        style="padding:8px;font-weight: 300; font-size: 20px;" >
                        <i class="fa fa-desktop"></i>
                                    <b>FedEx Price Calculator  [On FrontEnd By Site USer]</b></div>
                        <p><i>This module also support the feature of <b> Price Calculation From  Website </b>.</i></p>
                   <p><i>On the odoo website user can  see the FedEx delivery  option in  
                            delivery method List in their cart before making final payment .</i></p>
                     <div class="col-md-12">
                        <a href="website-fedex-price.png">
                            <img class="img-border img-responsive thumbnail" 
                                src="website-fedex-price.png" 
                                alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration-website"></a></p>
                    </div>                    
                    <p class="text-danger"><b>NOTE:</b><br/>This delivery charge is combination of actual delivery charges and percentage/fixed amount set in FedEx delivery configuration .<p>
                    <!-- ############### -->
                    <div class="alert alert-info" 
                     style="padding:8px;font-weight: 300; font-size: 20px;">
                     <i class="fa fa-arrow-circle-o-right"></i> <b>FedEx Label Generator</b></div>
                     <p class="text-danger"><b>NOTE:</b><br/>
                     <p class="text-danger">Prior to label generation enable packaging option and assign access of packaging to user .<p></p>
                     <p>                        
                          <a href="package-setting.png">
                     <img class="oe_picture oe_screenshot" 
                         src="package-setting.png" 
                         alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Odoo-Package-Acess"> </a> 
                         <a href="user-package-setting.png">
                     <img class="oe_picture oe_screenshot" 
                         src="user-package-setting.png" 
                         alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Odoo-Manage-Package"> </a> 
                         </p>
                    <p class="text-danger" ><b>NOTE:</b>Firstly you will have to create package of picking <b>before clicking the validate.</b></p>                   
                     <p><i>Now create package by selecting those picking line with  you want to put in <b>single package</b>  then click on <b>put in pack</b> . </i></p>
                     <p>
                        <a href="delivery-fedex-put-pack.png">
                        <img class="oe_picture oe_screenshot" 
                         src="delivery-fedex-put-pack.png" 
                         alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Odoo-Put-In-Package"> 
                         </a>
                     </p>
                     <p><i>In side the wizard  select the <b>FedEx packaging</b> you want to use for this package and. </i></p>
                     <p><i>Here you can also modify the package <b>shipment  wight</b> and also add the cover amount and description for package for future reference.</i></p>
                     <p><a href="delivery-fedex-pack-popup.png">
                     <img class="oe_picture oe_screenshot" 
                         src="delivery-fedex-pack-popup.png" 
                         alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Odoo-Package-Wight"> </a> 
                    </p>
                    <p>Finally After package generation click on validate/send to shipper.</p>

                    <a href="delivery-fedex-package-info.png">
                    <img class="oe_picture oe_screenshot" src="delivery-fedex-package-info.png" 
                        alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration-label-downlad">
                    </a>                    
                    <p>Now down load the label from the  message box.</p>                 
                    <div class="row"><a href="FedEx794644397216.png"><img 
                                class="col-md-12"
                                src="FedEx794644397216.png" 
                                alt="FedEx-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration|FedEx-Label">
                                </a>
                        </div>

                    <!-- ########################## -->
                    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;" ><i class="fa fa-arrow-circle-o-right"></i><b> Void Shipment </b></div>
                        <p><i>This module also provide  the feature of void shipment .<br/>thus after generating the label you don't want  to ship now the just click on cancellation link to void shipment .</i></p>
                              <h4> <p class="text-danger"><b>NOTE:</b>                               
                                    <br/>If you want restrict the sale manager from voiding the shipment shipment the just disable the void shipment in the fedEx delivery configuration , it will open a wizard and post message in the chatter box about this restriction.</p></h4>
                     <p><a href="delivery-fedex-package-info.png">
                            <img class="oe_picture oe_screenshot" 
                                src="delivery-fedex-package-info.png" 
                                alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration-label-canceled"> 
                        </a>
                        <p>
                         <p><i>Message About Restriction Void  Shipment Not Allow ,If void Shipment is disabled  .</i></p>
                       <p><a href="void-shipment-fedex.png">
                        <img class="oe_picture oe_screenshot" src="void-shipment-fedex.png" 
                                    alt="Fedex-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration-void-shipment-not-allow"> </a>
                            </p>
                  
                   
                    </div>
                 </div>
                </div>
            </div>      
    </section> 
    <section class="oe_container oe_dark">
    <div class="oe_row">
        <div>
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
  </section>
</section> 
<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div>
            <h2 class="text-center"><a> Get Technical Help & Support</a></h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced text-center"> 
    <a class="btn btn-success btn-lg mt8" title="Get Instant Help !" style="color: #FFFFFF !important;" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-life-ring"></i> Help </a>
     <a class="btn btn-success btn-lg mt8" title="Get Instant Support!" style="color: #FFFFFF !important;" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-ticket"></i> Support </a> 
    <a class="btn btn-success btn-lg mt8"  title="Request Features now !" style="color: #FFFFFF !important;" href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-check-circle"></i> Request Features </a>
        </div>
    </div>
</section>

  
<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=FEDEX-SHIPPING-INTEGRATION&url=https://apps.openerp.com/apps/modules/10.0/fedex_delivery_carrier&uid=fedex_delivery_carrier" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	