<section class="oe_container oe_dark lead">
    <section class="oe_container oe_dark lead">   
        <h2><font><p class="text-primary text-center"><b>Odoo(s) Shipping Service Apps</b><br/>
                    ODOO E-Commerce Extension For FedEx,DHL,USPS,UPS</p></font></h2> 
        <div class="oe_row">    
            <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading">
                <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward "></i><b>Odoo Shipping Service Apps</b></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b> Features </b></div>
                        <li><i class="fa fa-check text-primary"></i> Serve Core Module For Bunch Of Shipping Service.</li> 
                        <li><i class="fa fa-check text-primary"></i> Helping In Expanding  the User Domain.</li>
                        <li><i class="fa fa-check text-primary"></i> Allow You To Serve Globally .</li>                        
                        <li><i class="fa fa-check text-primary"></i> Compatible With All Version Of ODOO.</li>
                        <li><i class="fa fa-check text-primary"></i> Provide Core For Shipping Integration With FedEx .</li>
                        <li><i class="fa fa-check text-primary"></i> Provide Core For Shipping Integration With USPS .</li>
                        <li><i class="fa fa-check text-primary"></i> Provide Core For Shipping Integration With DHL .</li>
                        <li><i class="fa fa-check text-primary"></i> Provide Core For Shipping Integration With UPS .</li>
                        <li><i class="fa fa-check text-primary"></i> Provide Core For Shipping Integration With Australia Post .</li>
                        <li><i class="fa fa-check text-primary"></i> Provide Core For Shipping Integration With Aramex .</li>
                        <!-- ############################################################################################## -->
                        <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-plus-circle"></i> <b> Bonus Feature </div>              
                        <ul class="list-unstyled text-primary">
                            <li><i class="fa fa-check-circle-o"></i> Add Extra Service Charges on Delivery Carrier From BackEnd .</li>
                            <li><i class="fa fa-check-circle-o"></i> Add Extra Service Charges on Delivery Carrier From Website .</li>                       
                        </ul>       
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>    
      <section class="oe_container oe_dark lead">
            <div class="oe_row">    
            <div class="oe_span12">
                <div class="panel panel-info" id="wkid1">
                    <div class="panel-heading">
                         <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-cogs "></i> <b>Setup &amp; Configure</b> </h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b>Installation </b></div>
                        <p><img class="oe_picture oe_screenshot" src="Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration.png" alt="Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration|Install-Odoo-Shipping-Core-Module"><p>

                        <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b>Install Specific Module </b></div>
                         <p><i>After the successful installation  module you will be able to see the Shipping Service Configuration .</i></p>
                         <p><i>Installation Specific module as per your requirement  .</i></p>
                        <p><img class="oe_picture oe_screenshot" src="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration-example.png" alt="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration-example"><p>                    
                        
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <section class="oe_container oe_dark lead">
          <div class="oe_row">    
            <div class="oe_span12">
            <div class="panel panel-primary" id="wkid1">
            <div class="panel-heading">
             <h3 class="panel-title " style="font-size: 25px;"><i class="fa fa-plus-circle "></i><b>
                Bonus Feature </b></h3>
            </div>
                <div class="panel-body">
                <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-desktop"></i> <b>Extra Service Charges </b></div>
                 <p><i> As we have mention earlier , this plug-in not only just 
                        help in providing the API integration but also provide some distinct feature .</i></p>
                 <p><i> This plug-in allow you to set the Extra Service Charges On Actual Shipping Charges .</i></p>
                 <p><i> For prevailing this feature just go to Delivery method menu in warehouse/inventory menu 
                        and put Extra Service Charges.</i></p>
                <p><img class="oe_picture oe_screenshot" src="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration-example-extra-charges-feature.png" 
                    alt="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration|Add-extra-charges-in-shipping-carrier"><p>    
                <h4><p><b>NOTE:</b></p>
                <p><b>Module Provide  Extra Service Charges Based on </b>   </p>        
                               <ul>        
                                    <li>Fixed Amount /Exact Amount  .</li>
                                    <li>% of Sale Order Amount . </li>                                    
                                </ul></h4>              
            <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-desktop"></i> <b>Sale Order Form ODOO [BackEnd]</b></div> 
            <p><img class="oe_picture oe_screenshot" src="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration-example-extra-charges-feature-sale-order.png" 
                    alt="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration-example-extra-charges-feature-sale-order"><p>
             <h4><p><b>For Using  Extra  Service Service Charges Feature From BacEnd </b>   </p>        
                       <ul>        
                            <li>Select A customer .</li>
                            <li>Add product in sale oder line  . </li>
                            <li>Select   Delivery Method for this sale order .</li>
                            <li>Click on (Update) it, will list you the Delivery Charges<br/><b>[Sum Actual Delivery Charges and  Extra Service Charges ]</b>.</li>
                            <li>Click on Add in Quote to add this delivery charges to the sale order. </li>
                        </ul></h4>  

            <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-desktop"></i> <b>Sale Order Form Website [FrontEnd]</b></div>  
                <div class="col-md-12">
                            <img class="img-border img-responsive thumbnail" src="Odoo-Shipment-service-provider-Api-FedEx-USPS-UPS-DHL-Integration-example-extra-charges-feature-website.png" alt="ODOO-Odoo-Shipping-Api-FedEx-USPS-UPS-DHL-Integration|Website-Sale-Order">
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>  
      <section class="oe_container oe_dark">
    <div>
        <div>
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
  </section>
</section> 
<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div>
            <h2 class="text-center"><a> Get Technical Help & Support</a></h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced text-center">                      
            <span><a data-toggle="tooltip" data-placement="bottom" title="Get Instant Help !" target="_blank" 
                        href="https://webkul.uvdesk.com/en/customer/create-ticket/"> <i class="fa fa-life-ring"></i> Help</a></span>            
            <span><a data-toggle="tooltip" data-placement="bottom"title="Get Instant Support!"target="_blank" 
                        href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-ticket"></i> Support</a></span>            
            <span><a data-toggle="tooltip" data-placement="bottom"title="Request Features now !"target="_blank" 
                        href="https://webkul.uvdesk.com/en/customer/create-ticket/"><i class="fa fa-check-circle"></i> Request Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
<img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=BACKBONE-FOR-SHIPPING-API-INTEGRATION&url=https://apps.openerp.com/apps/modules/10.0/odoo_shipping_service_apps&uid=odoo_shipping_service_apps" style="border:0" alt="" />
<!-- End Piwik -->
    </div>
</section>
	