.form_container{
      border: solid grey 6px;
}


.img_banner{
  position: absolute;
  top:0px;
  height: 100%;
  width: 100%;
}

.track_banner_text {
    text-align: center;
    font-style: normal;
    font-family: arial;
    color: white;
    font-size: 50px;
}

.track_banner{
  position: relative;
}

.track_banner_detail {
    position: absolute;
    top: 90px;
    width: 100%;
    height: 100%;

}
.track_box{
  text-align: center;
  padding:20px;
}
.wk_odoo_tracking_loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/track.GIF) center no-repeat rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px white;
}
